-if cookies["poi_user"].nil?
	= render :template => "layouts/_subscribe"
.container
.row
	.col-md-6
		%div{:style => "max-width: 800px;min-width: 300px;"}
		#basic_map{:style => "max-width: 800px; min-width: 300px; height: 400px;"}

	.col-md-5
		#user-topic-list
			=render "layouts/list", user_list: @user_list



%p#demo
	